body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url('fonts/Pixel-LCD-7.woff') format('woff');
}

.title-container {
  display:flex;
  justify-content: center;
  color:teal;
  font-size:1.5em;
  background-color: rgb(4, 5, 7);
}

.title {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  animation: animate 30s infinite;
}

@keyframes animate {
  0% {
    color:red;
  }
  
  100% {
    color:orange;
  }
}

.rhap_volume-button,
.rhap_play-pause-button,
.rhap_repeat-button,
.rhap_forward-button,
.rhap_rewind-button {
  color:red !important;
}