*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

button {
  animation: animate 30s infinite;

}

@keyframes animate {
  0% {
      color:red;
      }
        
  100% {
    color:orange;
  }
}