body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url('fonts/Pixel-LCD-7.woff') format('woff');
}

.title-container {
  display:flex;
  justify-content: center;
  color:teal;
  font-size:2em;
  background-color: rgb(4, 5, 7);
}

.title {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  animation: animate 5s infinite;
  background-position: 30% 62%;
  border-radius: 0.4em;
  background-size: 60em;
}

@keyframes animate {
  0% {
    color: red;
  }
  100% {
    color: orange;
  }
}